#--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-main/constraints-3.8.txt"
#--constraint "https://gist.githubusercontent.com/dovy/6e30c0d603378a2cd7bffc960c4d120d/raw/99f88e6d4bcbaa061a52776219a3059051b0ef15/constraints-3.8-fixed.txt"

packaging==24.0
pyparsing==3.1.2
PyYAML==6.0.1
jsonschema==4.21.1
watchtower==3.2.0
pandas==2.0.3
numpy==1.24.4
python-dotenv==1.0.1
pendulum==3.0.0
s3fs==2023.12.2
requests==2.31.0

apache-airflow-providers-ssh==3.10.1
apache-airflow-providers-snowflake==5.4.0
snowflake-connector-python==3.9.0
apache-airflow-providers-amazon==8.20.0
apache-airflow-providers-sftp==4.9.1
apache-airflow-providers-oracle==3.9.2
apache-airflow-providers-dbt-cloud==3.7.1
snowflake-sqlalchemy==1.5.3
apache-airflow-providers-cncf-kubernetes==8.1.0
apache-airflow-providers-pagerduty==3.6.2

pysftp==0.2.9
airflow-dbt-python[redshift,s3,snowflake]==2.0.1

dbt-snowflake==1.7.3
pysmb==1.2.9.1
pathspec==0.11.2 # Conflicts with DBT Core